<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  	.banner {
  		width: 100%;
  		height: 100px;
  		background-color: #CCC;
  	}
  </style>
</head>
<body class='<%= controller.controller_name %>'>
	<div class="banner">
		<h1>generic title</h1>
		<ul>generic menu
			<li>menu 1</li>
		</ul>
	</div>
	
<%= yield %>

</body>
</html>
